.footer {
  position: fixed;
  bottom: 0;
  width:100%;
  height: auto;
  background-color: rgb(51, 113, 247);
  text-align: center;
  color: white;
  margin-top: 19px;
}

.footer a:hover {
  color: orange !important;
  font-size: 1.1em;
}

.container {
  padding-bottom: 10px ;
}